Test/Flow1.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "This is a test of the version control in NiFi Registry using API",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 169.1275698658336,
        "y" : -29.766213908202474
      }, {
        "x" : 169.1275698658336,
        "y" : 20.233786091797526
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "4ff5c948-b04d-314c-a942-db151f8d99a0",
        "name" : "GenerateTableFetch2",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "a2ec2aba-8b64-3ab4-8a6a-c949413fe27a",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "4ff5c948-b04d-314c-a942-db151f8d99a0",
        "name" : "GenerateTableFetch2",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "5b78bc60-2c13-391d-901c-f6a4399d77f2",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "a63e170c-a37d-3a1b-a2c1-bc8c915c45a4",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "1c891b62-f6ff-3e7f-ab52-25ce2be09dc0",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 174.9139163691243,
        "y" : 799.1152247103068
      }, {
        "x" : 174.9139163691243,
        "y" : 849.1152247103068
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "9344389a-0126-3d9b-8833-465a3ba1f1b6",
        "name" : "PutHBaseJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "f90412ae-d17e-3e25-bd38-56b194a3a8b1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "9344389a-0126-3d9b-8833-465a3ba1f1b6",
        "name" : "PutHBaseJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 172.2247247357817,
        "y" : 178.9604967010589
      }, {
        "x" : 172.2247247357817,
        "y" : 228.9604967010589
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "27043e07-96b0-3983-bea6-eba21f9071c0",
        "name" : "ExecuteSQLTest",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "08bcd403-0d12-3a62-a17a-db8a9df33627",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "27043e07-96b0-3983-bea6-eba21f9071c0",
        "name" : "ExecuteSQLTest",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "27043e07-96b0-3983-bea6-eba21f9071c0",
        "name" : "ExecuteSQLTest",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "00b6340b-b837-31be-9eca-59ed5e7fc0d4",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "4ff5c948-b04d-314c-a942-db151f8d99a0",
        "name" : "GenerateTableFetch2",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 165.18454696785238,
        "y" : 585.2260146749363
      }, {
        "x" : 165.18454696785238,
        "y" : 635.2260146749363
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "5b78bc60-2c13-391d-901c-f6a4399d77f2",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "30b7eb80-1f59-377d-9ec5-cb0c43f33c60",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "5b78bc60-2c13-391d-901c-f6a4399d77f2",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "4ff5c948-b04d-314c-a942-db151f8d99a0",
        "name" : "GenerateTableFetch2",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "b8aea0a9-9a8d-3d5c-ba8a-874db7ed8e06",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "d7bd61bb-00d0-3850-811d-7e5ed88f57ae",
        "name" : "ListDatabaseTables2",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "1c891b62-f6ff-3e7f-ab52-25ce2be09dc0",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "5343654d-b05d-324f-98f8-58baee70b40d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "27043e07-96b0-3983-bea6-eba21f9071c0",
        "name" : "ExecuteSQLTest",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "9344389a-0126-3d9b-8833-465a3ba1f1b6",
        "name" : "PutHBaseJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "3e455a85-6a37-3f94-9ea9-ddbdbf3978e5",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "splits" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "5b78bc60-2c13-391d-901c-f6a4399d77f2",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 181.98034098523988,
        "y" : 383.8478647261197
      }, {
        "x" : 181.98034098523988,
        "y" : 433.8478647261197
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "1c891b62-f6ff-3e7f-ab52-25ce2be09dc0",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "077586df-726f-36c6-aae7-24036f98808f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c52c2499-29db-3e01-b43b-02d23f70a333",
        "id" : "1c891b62-f6ff-3e7f-ab52-25ce2be09dc0",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0.3.4.0.0-155"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "bd999745-883c-347d-b82c-783b1f37487f",
      "name" : "DBCPConnectionPool_MariaDB_WFM",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.mysql.jdbc.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:mysql://lb-mysql-wfm.paas.mia.ulti.io:3306/cf_87a33be9_2ed6_47f2_9061_ba18e57618bb",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "Gy4cjVVNkdRgV01y",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/usr/hdf/current/nifi/lib",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    } ],
    "funnels" : [ ],
    "identifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "TestBatchIngestionRDBMS",
    "outputPorts" : [ ],
    "position" : {
      "x" : 3214.7383704023396,
      "y" : 448.56541597934734
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "original" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "5b78bc60-2c13-391d-901c-f6a4399d77f2",
      "name" : "SplitText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -297.8154530321476,
        "y" : 545.2260146749363
      },
      "properties" : {
        "Remove Trailing Newlines" : "true",
        "Header Line Count" : "0",
        "Line Split Count" : "1"
      },
      "propertyDescriptors" : {
        "Remove Trailing Newlines" : {
          "displayName" : "Remove Trailing Newlines",
          "identifiesControllerService" : false,
          "name" : "Remove Trailing Newlines",
          "sensitive" : false
        },
        "Maximum Fragment Size" : {
          "displayName" : "Maximum Fragment Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Fragment Size",
          "sensitive" : false
        },
        "Header Line Marker Characters" : {
          "displayName" : "Header Line Marker Characters",
          "identifiesControllerService" : false,
          "name" : "Header Line Marker Characters",
          "sensitive" : false
        },
        "Header Line Count" : {
          "displayName" : "Header Line Count",
          "identifiesControllerService" : false,
          "name" : "Header Line Count",
          "sensitive" : false
        },
        "Line Split Count" : {
          "displayName" : "Line Split Count",
          "identifiesControllerService" : false,
          "name" : "Line Split Count",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "NONE",
      "bundle" : {
        "artifact" : "nifi-hbase-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "9344389a-0126-3d9b-8833-465a3ba1f1b6",
      "name" : "PutHBaseJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -288.0860836308757,
        "y" : 759.1152247103068
      },
      "properties" : {
        "Row Identifier" : "mariadb|wfm|${db.table.fullname}|${now()}|${UUID()}",
        "Table Name" : "data_lake",
        "Row Identifier Encoding Strategy" : "String",
        "Complex Field Strategy" : "Text",
        "Batch Size" : "1",
        "Column Family" : "raw_columns",
        "Field Encoding Strategy" : "String",
        "HBase Client Service" : "0a65c34d-fe90-3a77-b421-dc0754235ade"
      },
      "propertyDescriptors" : {
        "Row Identifier" : {
          "displayName" : "Row Identifier",
          "identifiesControllerService" : false,
          "name" : "Row Identifier",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Row Identifier Encoding Strategy" : {
          "displayName" : "Row Identifier Encoding Strategy",
          "identifiesControllerService" : false,
          "name" : "Row Identifier Encoding Strategy",
          "sensitive" : false
        },
        "Row Identifier Field Name" : {
          "displayName" : "Row Identifier Field Name",
          "identifiesControllerService" : false,
          "name" : "Row Identifier Field Name",
          "sensitive" : false
        },
        "Complex Field Strategy" : {
          "displayName" : "Complex Field Strategy",
          "identifiesControllerService" : false,
          "name" : "Complex Field Strategy",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Column Family" : {
          "displayName" : "Column Family",
          "identifiesControllerService" : false,
          "name" : "Column Family",
          "sensitive" : false
        },
        "Field Encoding Strategy" : {
          "displayName" : "Field Encoding Strategy",
          "identifiesControllerService" : false,
          "name" : "Field Encoding Strategy",
          "sensitive" : false
        },
        "HBase Client Service" : {
          "displayName" : "HBase Client Service",
          "identifiesControllerService" : true,
          "name" : "HBase Client Service",
          "sensitive" : false
        },
        "timestamp" : {
          "displayName" : "Timestamp",
          "identifiesControllerService" : false,
          "name" : "timestamp",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.hbase.PutHBaseJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "27043e07-96b0-3983-bea6-eba21f9071c0",
      "name" : "ExecuteSQLTest",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -290.7752752642183,
        "y" : 138.9604967010589
      },
      "properties" : {
        "esql-max-rows" : "0",
        "compression-format" : "NONE",
        "esql-output-batch-size" : "0",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "bd999745-883c-347d-b82c-783b1f37487f",
        "dbf-normalize" : "false",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0"
      },
      "propertyDescriptors" : {
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "SQL select query" : {
          "displayName" : "SQL select query",
          "identifiesControllerService" : false,
          "name" : "SQL select query",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-avro-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "1c891b62-f6ff-3e7f-ab52-25ce2be09dc0",
      "name" : "ConvertAvroToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -281.0196590147601,
        "y" : 343.8478647261197
      },
      "properties" : {
        "JSON container options" : "none",
        "Wrap Single Record" : "false"
      },
      "propertyDescriptors" : {
        "JSON container options" : {
          "displayName" : "JSON container options",
          "identifiesControllerService" : false,
          "name" : "JSON container options",
          "sensitive" : false
        },
        "Wrap Single Record" : {
          "displayName" : "Wrap Single Record",
          "identifiesControllerService" : false,
          "name" : "Wrap Single Record",
          "sensitive" : false
        },
        "Avro schema" : {
          "displayName" : "Avro schema",
          "identifiesControllerService" : false,
          "name" : "Avro schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "d7bd61bb-00d0-3850-811d-7e5ed88f57ae",
      "name" : "ListDatabaseTables2",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -298.2582935591944,
        "y" : -274.60865739848543
      },
      "properties" : {
        "list-db-tables-db-connection" : "bd999745-883c-347d-b82c-783b1f37487f",
        "list-db-refresh-interval" : "0 sec",
        "list-db-tables-catalog" : "cf_87a33be9_2ed6_47f2_9061_ba18e57618bb",
        "list-db-include-count" : "false",
        "list-db-tables-types" : "TABLE"
      },
      "propertyDescriptors" : {
        "list-db-tables-db-connection" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "list-db-tables-db-connection",
          "sensitive" : false
        },
        "list-db-refresh-interval" : {
          "displayName" : "Refresh Interval",
          "identifiesControllerService" : false,
          "name" : "list-db-refresh-interval",
          "sensitive" : false
        },
        "list-db-tables-catalog" : {
          "displayName" : "Catalog",
          "identifiesControllerService" : false,
          "name" : "list-db-tables-catalog",
          "sensitive" : false
        },
        "list-db-include-count" : {
          "displayName" : "Include Count",
          "identifiesControllerService" : false,
          "name" : "list-db-include-count",
          "sensitive" : false
        },
        "list-db-tables-name-pattern" : {
          "displayName" : "Table Name Pattern",
          "identifiesControllerService" : false,
          "name" : "list-db-tables-name-pattern",
          "sensitive" : false
        },
        "list-db-tables-schema-pattern" : {
          "displayName" : "Schema Pattern",
          "identifiesControllerService" : false,
          "name" : "list-db-tables-schema-pattern",
          "sensitive" : false
        },
        "list-db-tables-types" : {
          "displayName" : "Table Types",
          "identifiesControllerService" : false,
          "name" : "list-db-tables-types",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListDatabaseTables",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.3.4.0.0-155"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c52c2499-29db-3e01-b43b-02d23f70a333",
      "identifier" : "4ff5c948-b04d-314c-a942-db151f8d99a0",
      "name" : "GenerateTableFetch2",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -293.8724301341664,
        "y" : -69.76621390820247
      },
      "properties" : {
        "gen-table-output-flowfile-on-zero-results" : "false",
        "Table Name" : "${db.table.fullname}",
        "db-fetch-db-type" : "MySQL",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "bd999745-883c-347d-b82c-783b1f37487f",
        "gen-table-fetch-partition-size" : "10000"
      },
      "propertyDescriptors" : {
        "gen-table-output-flowfile-on-zero-results" : {
          "displayName" : "Output Empty FlowFile on Zero Results",
          "identifiesControllerService" : false,
          "name" : "gen-table-output-flowfile-on-zero-results",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "gen-table-fetch-partition-size" : {
          "displayName" : "Partition Size",
          "identifiesControllerService" : false,
          "name" : "gen-table-fetch-partition-size",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "gen-table-column-for-val-partitioning" : {
          "displayName" : "Column for Value Partitioning",
          "identifiesControllerService" : false,
          "name" : "gen-table-column-for-val-partitioning",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateTableFetch",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : { }
  }
}